<link rel="stylesheet" th:href="@{/css/login.css}"/>

<!-- TODO Locale 에서 텍스트를 불러오도록 수정 -->
<div class="login-background"></div>
<div class="login-container">
    <p class="login-title">로그인</p>

    <button style="color: #fff; background-color: #3b5998;">페이스북 아이디로 로그인</button>

    <button style="color: #000; background-color: #fff;">구글 아이디로 로그인</button>

    <button style="color: #fff; background-color: #00c300;">네이버 아이디로 로그인</button>

    <p class="login-legal">로그인을 하면 <a target="_blank" href="#">개인정보 처리방침</a> 에 동의한 것으로 간주합니다.</p>
</div>